body {
  margin: 0;
  font-family: "Merriweather Sans", sans-serif;
  text-align: center;
}

.header1 {
  font-size: 70px;
}

.pro {
  text-decoration: underline;
}

h1 {
  margin-top: 0;
  font-family: "Sacramento", cursive;
}

div.top-container {
  background-color: #e4f9f5;
}

div.middle-container {
}

div.top {
}

div.bottom-container {
}

.bottom-cloud {
  position: absolute;
}

.top-cloud {
  margin-top: 50px;
  position: relative;
  left: 200px;
}
