body {
  margin: 0;
  font-family: poppins;
}

h1 {
  margin-top: 0;
}

div.top-container {
  background-color: #e4f9f5;
}

div.middle-container {
  width: 150px;
  height: 150px;
  background-color: red;
  position: absolute;
  left: 150px;
  top: 150px;
}

div.top {
  width: 150px;
  height: 150px;
  background-color: blue;
  position: absolute;
}

div.bottom-container {
  width: 150px;
  height: 150px;
  background-color: yellow;
  position: absolute;
  top: 300px;
  left: 300px;
}
